<div ng-controller="adminEmployerViewController as vm">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Need A nerd Admin</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/adminDashboard">Home</a></li>
                <li><a href="#!/adminViewAllStudents" >All Students</a></li>
                <li><a href="#!/adminViewAllEmployers">All Employers</a></li>
                <li><a href="#!/adminViewAllJobs" >All Jobs</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/approvalOffCampus">Off Campus Employer Requests</a></li>
                <li><a href="#!/login">Logout</a></li>

            </ul>
        </div>
    </nav>

    <div class="col-md-9 col-md-offset-1">
        Search By
        <select ng-model="columns" ng-options="e for e in headers">
            <option value=""></option>
        </select>

        <!--BIND THE SEARCH BOX TO THE SELECT ELEMENT-->
        Search <input type="text" ng-model="search[columns]"
                      placeholder="Enter some text to search" />
        <br><br>
        <table class="table table-hover">
            <th> EMPLOYER ID </th>
            <th> EMPLOYER FIRST NAME </th>
            <th> EMPLOYER LAST NAME</th>
            <th> EMPLOYER EMAIL </th>
            <th> EMPLOYER DEPARTMENT </th>
            <tbody ng-repeat= "(key,value) in employerList">
            <tr ng-repeat="(key,v) in value | filter : search">
                <td ng-repeat="(key,val) in v " >
                    {{val}}
                </td>

            </tr>
            </tbody>



        </table>

    </div>






</div>