<div class="col-md-9 col-md-offset-1" ng-controller="applySpecificJob">

<div class="container">
    <p style="font-size:20px"> <b> The Job You wanted to apply has information below : </b> <br> <br>

        <b>JOB ID &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{jobId}} <br><br>
            <b>JOB DESC &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{jobDesc}} <br><br>
                <b>SKILLS &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{skills}} <br><br>
                    <b>JOB END DATE &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{endDate}} <br><br>
                        <b>SALARY &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{salary}} <br><br>
                            <b>ORGANIZATION &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;</b>   {{jobOrg}} <br><br><br>

        <button type="submit" class="btn btn-primary" ng-click="apply()">Apply</button>
        <button type="submit" class="btn btn-primary" ng-click="back()">Go Back</button>

</div>

</div>