<div class="col-md-9 col-md-offset-1" ng-controller="editEmployerProfile">

    <h2>Edit Your Profile</h2>

    <div class = "col-md-9 col-md-offset-1">
        <form ng-submit="saveProfile()">
            <div class="form-group">
                <label for="aboutMe">About me</label>
                <textarea rows="4" cols="20" id="aboutMe" class="form-control" ng-model="aboutMe"></textarea>
            </div>
            <div class="form-group">
                <label for="position">Position and Experience</label>
                <textarea rows="2" cols="20" id="position" class="form-control" ng-model="position"></textarea>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" id="department" ng-model="department">
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" ng-model="phoneNumber">
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>
