<div class ="col-md-7 col-md-offset-2" ng-controller="loginControllerEmployer">
    <h2>On Campus Employer Login</h2>
    <form name="form" role="form" ng-submit="loginToDashboard()">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username"  required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>

        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"  >Login</button>

            &nbsp; OR First time? <a href="#!signupEmployers" class="btn btn-link">SignUp for Employers</a>


        </div>
    </form>
</div>

